/* Contect us section */

.faq-link img {
    float: left;
    margin-right: 16px;
}

.faq-link {
    color: #fff;
    text-decoration: none;
    margin-top: 48px;
    display: block;
    overflow: hidden;
}

.faq-link:hover {
    color: #fff;
    text-decoration: none;
}

.faq-link span {
    font-size: 40px;
    display: block;
    text-transform: uppercase;
    font-family: 'BentonSans-bold';
}

.faq-link h4 {
    font-size: 16px;
    float: left;
}

.know-text {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}


/* For know more about us Section */

.list4 {
    list-style: none;
    margin: 16px 0px;
    padding: 0px;
}

.list4 li {
    margin-right: 76px;
    float: left;
    display: block;
    margin-bottom: 30px;
}

.list4 a img {
    display: block;
    margin: 0 auto;
}

.list4 a {
    color: #fff;
    text-align: center;
    font-size: 14px;
    display: block;
    font-weight: 'bold';
}

.list4 li span {
    height: 68px;
    display: block;
}

.list4 li.last {
    margin-right: 0px;
}

.mob-menu-logo-holder {
    padding-top: 0px;
    text-align: left;
    margin-left: 20px;
}


/* footer section */

.footer {
    padding: 60px;
    background-color: #031d24;
    ;
}


/* button section */

.btn {
    text-transform: uppercase;
    background-color: #031d24;
}

.submit_button {
    float: right;
}


/* sub footer section */

.sub-footer {
    background-color: #031d24;
}

small {
    color: white;
}

.form-group {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.form-groupp {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

/* muktikanta */



.feature-section{
    background:#F1F1F1;
    margin-top:12px;
    padding:54px 0px 50px;
    margin-bottom:56px;
}

.para-text2{
   font-size:16px;  
}

.carousel{
    margin-top:68px;
}

.item{
    text-align:center;
}

.item .list1{
    list-style:none;
    text-align:left;
    /*padding:0px;*/
    width:98%;
    margin:0 auto;
}


.feature-heading{
    font-size:16px;
    font-family: 'BentonSans-Medium';
    display:block;
    margin:20px 0px;
}

.list1 li{
    font-family: 'BentonSans-book';
    font-size:14px;
    margin-bottom:2px;
    clear: both;
    list-style-image: url(../images/bulb.png);
}


.carousel-indicators{
    
    bottom:-48px;
}


.list1 li i{
    margin-right:4px;
    float:left;
    margin-bottom:6px;
    margin-top:2px;
    width: 8px;
    display: none;
}

.list1 li p {
    margin-bottom: 0;
    /*float: left;*/
    /*width: calc(100% - 12px);*/
}

.carousel-inner{
    margin-bottom:20px;
}




.list2{
    width:88%;
    margin:40px auto 0px;
    overflow:hidden;
}


.list2 li{
    padding:0px 8px;
}







.heading1{
    margin-top:68px;
}




.carousel1 .item img{
    float:left;
    margin-right:3px;
    margin-bottom:3px;
}

.carousel-control.right{
    background:url(../images/next.png) no-repeat;
    opacity:1;
    right: 10px;
}

.carousel-control.left{
    background:url(../images/prev.png) no-repeat;
    opacity:1;
}

.carousel1 .carousel-inner{
    margin:0px 0px 30px 28px;
    overflow:hidden;
    width:96%;
}

.carousel1{
    margin-top:40px;
}


.carousel-control{
    top:53%;
    width:17px;
    height:auto;
}

.row{
    list-style-type: none;
}
.feature-heading{
    list-style-type: none;
}
